<!DOCTYPE html>
<!-- Author: David Tays 
     Date:  12/26/17  
     Desc:  skillz
-->


<html>
    <head>
        
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="description" content="demonstration">
        <meta name="keywords" content="">
        <meta name="author" content="David Tays">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>&quot;David Tays&quot;</title>
    </head>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active
        nav-link" href="#">Home
    </li>
  
      <li class="nav-item">
  
      </li>
  
      <li class="nav-item nav-link" href="#">Contact Us
      </li>
    </ul>
</nav>

<div role="main" class="container">
    <br/><br/>
    <h2>EJS Views Example</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="alert alert-success" role="alert">
            <strong>First Name:</strong>
            <span><%=firstName%></span>
            
        </div>
     </div>
     <div class="col-sm-4">
            <div class="alert alert-success" role="alert">
                
                <strong>Last Name:</strong>
                <span><%=lastName%></span>
            </div>
         </div>
         <div class="col-sm-4">
                <div class="alert alert-success" role="alert">
                   
                    <strong>Address:</strong>
                    <span><%=address%></span>
                </div>
             </div>
    </div>
</div>