//- ===========================================
    Title:  Assignment 5-3
    Author: David Tays
    Date:   March 18 2018
    Modified By: <David Tays>
    Description: Pug templating
    ===========================================  
doctype html

html(lang="en")


    head
        title Pug Template Example
    body
        h2=message