<!--
============================================
; Title:  Assignment 5-4/ 6-4
; Author: David Tays
; Date:   March 18 2018
; Modified By: <David Tays>
; Description: EJS User Interface Development/landing page
;===========================================*/-->

<% include header %>
<% include navbar %>

    <h1>Welcome All!</h1>
    <br />
    
    
<% include footer %>