<!--
============================================
; Title:  Assignment 5-4
; Author: David Tays
; Date:   March 18 2018
; Modified By: <David Tays>
; Description: EJS User Interface Development
;===========================================*/-->

<% include header %>
<% include navbar %>

    <h1>Welcome All!</h1>
    <p>Write some stuff here</p>
    
    <% include scripts %>
<% include footer %>