<!--
============================================
; Title:  Assignment 5-4
; Author: David Tays
; Date:   March 18 2018
; Modified By: <David Tays>
; Description: EJS User Interface Development/Tabular view of employee records
;===========================================*/-->

<p>Click on the Category to View:</p>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'TabName1')">New</button>
  <button class="tablinks" onclick="openTab(event, 'TabName2')">TabName2</button>
  <button class="tablinks" onclick="openTab(event, 'TabName3')">TabName3</button>
</div>

<div id="TabName1" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  <% include new %>
</div>

<div id="TabName2" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  <h3>Empty Tab</h3>
  <p>Need a form 2.</p> 
</div>

<div id="TabName3" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  <h3>Empty Tab</h3>
  <p>Need a form 3.</p>
</div>