<!--
============================================
; Title:  Assignment 5-4
; Author: David Tays
; Date:   March 18 2018
; Modified By: <David Tays>
; Description: EJS User Interface Development/Tabular view of employee records
;===========================================*/-->
<% include header %>
<% include navbar %>
<% include scripts %>
<div role="main" class="container">
  <% if(employees.length){ %>
    <h2>-- Employee Listing --</h2><br/>
    <a href="/new">Add New</a>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
         
    <br/> 
</div>
<% include footer %>