<!--
============================================
; Title:  Assignment 5-4
; Author: David Tays
; Date:   March 18 2018
; Modified By: <David Tays>
; Description: EJS User Interface Development/Read-only page with the selected employee’s details
;===========================================*/-->
<% include header %>



<body>



<% include navbar %>



<div role="main" class="container" style="width: 50%;">

    <br/><br/>



    <h2>-- Employee Record --</h2>

    <div>

        <div class="form-group">

            <label for="txtFirstName">Name:</label>

            <input type="text" class="form-control" id="txtFirstName" readonly value="<%= employee[0].firstName %>" name="txtFirstName" />
            <br/>
            <label for="txtLastName">Name:</label>

            <input type="text" class="form-control" id="txtLastName" readonly value="<%= employee[0].lastName %>" name="txtLastName" />

        </div>

    </div>



    <br /><br />



    <a href="/list">Return to Fruits</a>

</div>



<% include scripts %>
<% include footer %>