
<!-- /*
============================================
; Title:  Assignment 3-4
; Author: David Tays
; Date:   March 10 2018
; Modified By: <David Tays>
;
;===========================================*/ -->  

<% include header %>
<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= message %></h2>
</div>
<% include footer %>